<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <!-- Path relative to directory that contains .runsettings file-->
    <ResultsDirectory>.\TestResults</ResultsDirectory>

    <!-- x86 or x64 -->
    <!-- You can also change it from the Test menu; choose "Processor Architecture for AnyCPU Projects" -->
    <TargetPlatform>x86</TargetPlatform>

    <!-- Framework35 | [Framework40] | Framework45 -->
    <TargetFrameworkVersion>Framework45</TargetFrameworkVersion>

    <!-- Path to Test Adapters -->
    <TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>

    <!-- TestSessionTimeout was introduced in Visual Studio 2017 version 15.5 -->
    <!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
    <TestSessionTimeout>720000000</TestSessionTimeout>

  </RunConfiguration>
    <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="WebAppUrl" value="https://www.accuweather.com/" />
    <Parameter name="ApiBaseUri2" value="http://api.openweathermap.org/data/2.5/weather?" />
    <Parameter name="ApiBaseUri" value="api.openweathermap.org" />
    <Parameter name="AppId" value="7fe67bf08c80ded756e598d6f8fedaea" />
    <Parameter name="TempMin" value="0" />
    <Parameter name="TempMax" value="1" />
    <Parameter name="WindMin" value="0" />
    <Parameter name="WindMax" value="1" />
  </TestRunParameters>
   <MSTest>
    <DeploymentEnabled>true</DeploymentEnabled>
  </MSTest>
</RunSettings>